
<!-- The dialog -->
<div id="dialog"  transition:persist="true"
    class="hidden fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-100 bg-white rounded-md px-8 py-6 space-y-5 drop-shadow-lg">
    <iframe
      id="the-frame"
      class="mi-iframe mb-8"
      src="https://docs.google.com/forms/d/e/1FAIpQLSe1SZCssVDbkKmqAqTVd9jn3Dr9gioTqsx2CG2yQ__cAe1iww/viewform?embedded=true" 
    >
      Cargando…
    </iframe>
    <footer
        class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-800 text-xs font-medium"
        id="form-footer"
    >
      <nav>
          <ul class="flex [&>li>a]:inline-block [&>li>a]:px-3 [&>li>a]:py-2">
            <li>
            <a 
              role="button" 
              id="close" 
              class="px-5 py-o bg-indigo-500 hover:bg-indigo-700 text-white cursor-pointer rounded-md"
            >
              Cerrar
            </a>
          </li>
          </ul>
      </nav>
    </footer>
</div>

<!-- Javascript code -->
<script is:inline>
    var openButton = document.getElementById('open-modal');
    var dialog = document.getElementById('dialog');
    var closeButton = document.getElementById('close');
    var overlay = document.getElementById('overlay');

    // show the overlay and the dialog
    openButton.addEventListener('click', function () {
        dialog.classList.remove('hidden');
        overlay.classList.remove('hidden');
    });

    // hide the overlay and the dialog
    closeButton.addEventListener('click', function () {
        dialog.classList.add('hidden');
        overlay.classList.add('hidden');
    });
</script>

<style>
    /* CSS general */
.mi-iframe {
width: 50vw;
height: 80vh;
}

/* CSS pantallas de 320px o superior */
@media (max-width: 460px) and (orientation: portrait) {

.mi-iframe {
width: 80vw;
height: 70vh;

} 

}

/* CSS pantalla 768px o superior */
@media (max-height: 460px) and (orientation: landscape) {

.mi-iframe {
width: 80vw;
height: 60vh;
} 

}
</style>